<!DOCTYPE HTML>
<html ng-app="wavingHandsApp">
<head>
    <link rel=stylesheet type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel=stylesheet type="text/css" href="styles.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="HandsController">
    <table class="command-list">
        <tr>
            <td class="player" rowspan="4">You</td>
            <td class="header" rowspan="2">RH</td>
            <td class="next">{{nextCmd[1]}}</td>
            <td class="gesture"
                ng-repeat="turn in commandList"
                ng-class="{'chain':turn[1].chain, 'selected':turn[1].selected, 'pair':turn[1].pair}"
                ng-mouseover="!persistList ? hoverChain($index, 1) : null"
                ng-mouseout="!persistList ? resetHover() : null"
                ng-mouseup="togglePersist($index, 1)">{{turn[1].gesture}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="marker" ng-repeat="turn in commandList"></td>
        </tr>
        <tr>
            <td class="header" rowspan="2">LH</td>
            <td class="next">{{nextCmd[0]}}</td>
            <td class="gesture"
                ng-repeat="turn in commandList"
                ng-class="{'chain':turn[0].chain, 'selected':turn[0].selected, 'pair':turn[0].pair}"
                ng-mouseover="!persistList ? hoverChain($index, 0) : null"
                ng-mouseout="!persistList ? resetHover() : null"
                ng-mouseup="togglePersist($index, 0)">{{turn[0].gesture}}</td>
        </tr>
        <tr>
            <td></td>
            <td class="marker" ng-repeat="turn in commandList"></td>
        </tr>
    </table>
    <table class="command-list"><!--THIS IS OLD CODE START-->
        <tr>
            <td class="player" rowspan="2">Enemy</td>
            <td class="header">RH</td>
            <td class="next">{{nextCmd[1]}}</td>
            <td class="gesture"
                ng-repeat="turn in commandList"
                ng-class="{chain: startGesture.hand == 'right' && $index < startGesture.index}"
                ng-mouseover="!persistList ? hoverChain($index, 'right') : null"
                ng-mouseout="!persistList ? resetHover() : null"
                ng-mouseup="togglePersist($index, 'right')">{{"-"}}</td>
        </tr>
        <tr>
            <td class="header">LH</td>
            <td class="next">{{nextCmd[0]}}</td>
            <td class="gesture"
                ng-repeat="turn in commandList"
                ng-class="{chain: startGesture.hand == 'left' && $index < startGesture.index}"
                ng-mouseover="!persistList ? hoverChain($index, 'left') : null"
                ng-mouseout="!persistList ? resetHover() : null"
                ng-mouseup="togglePersist($index, 'left')">{{"-"}}</td>
        </tr>
    </table><!--THIS IS OLD CODE END-->
    <div class="console">
    </div>
    <div class="possible-spell-list">
        <div class="heading-sm">Potential Spells</div>
        <div class="heading-sm heading-sub">starting with: <code>{{beginningSequence}}</code></div>
        <div class="clickable" ng-click="debug('Clicked spell: ' + spell.name + ': ' + spell.sequence)" ng-repeat="spell in matchingSpells">{{spell.name}}: {{spell.sequence}}</div>
    </div>
    <div id="toolbar">
        <div class="toolbar input">
            <div class="inline">
                <div class="header">Left Hand</div>
                <div class="btn-group">
                    <label ng-repeat="button in cmdArray" type="button" class="btn btn-default" ng-class="{active: buttonArray[0][$index]}" ng-click="setCmd(0, $index)">{{cmdArray[$index]}}</label>
                </div>
            </div>
            <div class="inline">
                <div class="header">Right Hand</div>
                <div class="btn-group">
                    <label ng-repeat="button in cmdArray" type="button" class="btn btn-default" ng-class="{active: buttonArray[1][$index]}" ng-click="setCmd(1, $index)">{{cmdArray[$index]}}</label>
                </div>
            </div>
        </div>
        <div class="toolbar bottom">
            <button type="button" class="btn btn-block" ng-class="action.class" ng-click="commitTurn()">{{action.buttonText}}</button>
        </div>
    </div>
</body>
</html>