* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table.command-list {
    margin: 5px 0px;
    border: 1px solid lightgray;
}

td.player {
    padding:10px 20px;
    width:100px;
    font-weight: bold;
}

td.header {
    background-color: grey;
    font-weight: bold;
    color:white;
}

td.next {
    font-weight: bold;
    color:lightgray;
}

td {
    text-align: center;
    vertical-align: middle;
    padding:2px 5px;
}

td.gesture:hover {
    cursor: pointer;
    background-color: gray;
}

td.gesture:active {
    cursor: pointer;
    background-color: lightgray;
}

td.chain {
    background-color: #dfdfdf;
}

td.pair {
    background-color: #fffccc;
}

#toolbar {
    background: grey;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#toolbar div.input {
    margin-bottom: 5px;
}

.inline {
    display: inline-block;
}

.header {
    text-align: center;
    font-weight: bold;
    color:white;
}

.footer {
    padding: 10px 0px;
}

.heading-sm {
    color: #5bc0de;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:5px 0px;
}

.heading-sub {
    color: gray;
    font-size: 14px;
    line-height: 1.1;
    font-weight:lighter;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:2px 0px;
}

#ButtonSet:hover {
    cursor: pointer;
}